/*
	Theme Name: Sleep Radar
	Theme URI: http://uitslapers.rachelledezwart.nl	
	Description: Theme developed for the project "Sleep Radar". A school project made by Group 3 "Groep Uitslapers".
	Version: 1.4.3
	Author:  A Philipse, P Hillemans, N baaij, Q Baljeu, R de Zwart
	Author URI: http://rachelledezwart.nl
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 1.45;

    font-size: 14px;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #6ba2b9;
    text-decoration: none;
}

a:hover {
    color: #003e4d;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: lighter;
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

small, .font-small {
    font-size: 12px;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Font-Name';
    src: url('fonts/font-name.eot');
    src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('fonts/font-name.woff') format('woff'),
    url('fonts/font-name.ttf') format('truetype'),
    url('fonts/font-name.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:300,400,500,700');

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
/* header */
.top-bar {
    padding: 2rem 5rem;
}

.caption-wrap {
    height: 100%;
    background: transparent !important;
    opacity: 1 !important;
    display: flex !important;
    align-items: center;
}

.caption-wrap h1,
.caption-wrap h2 {
    color: #fff;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7rem !important;
}

.caption-wrap h1 {
    font-weight: bold;
    font-size: 4.7rem;
}

.caption-wrap h2 {
    font-size: 3rem;
}

.caption {
    padding: 0 22em !important;
}

#metaslider_17 .slides img {
    width: 232px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* logo */
.logo {

}

.logo-img {
    padding: 2rem;
}

#main-bar .uk-navbar .uk-navbar-left .uk-logo img {
    width: 25rem !important;
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav ul {
    margin-bottom: 0px !important;
}

.nav li {
    list-style: none;
    display: inline;
}

.nav a {
    margin: 1rem 1.2rem;
}

.current-menu-item a,
.nav a:hover {
    color: #659fb3;
    text-decoration: none;
}

.current-lang {
    display: none;
    padding: 0px !important;
}

/* footer */
.footer {
    background: #003e4d;
    padding: 10rem 5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: lighter;
}

.footer h3,
.footer a {
    color: #fff;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    list-style: none;
    margin: 1rem 0rem;
}

.logo-small img {
    height: 50%;
}

.footer h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer .menu {
    font-family: 'Open Sans', sans-serif;
}

.contact-info a {
    line-height: 3rem;
}

.footer i,
.uk-parent i {
    background: #fff;
    color: #003d4c;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.9rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.footer .logo-img-small {
    width: 50px;
}

.footer i:hover {
    background: #659fb3;
}

.social-icons {
    display: inline;
}

.social-icons:last-child {
    margin: 0rem 1rem;
}

.tnp-widget-minimal input.tnp-email {
    width: 75% !important;
}

.tnp-widget-minimal input.tnp-submit {
    width: 25% !important;
}

.uk-text-large {
    font-size: 17px;
    line-height: 1.5;
}

.uk-offcanvas-bar {
    background: #003e4d;
    padding: 0px;
}

.uk-nav-header {
    background: #fff;
    padding: 4rem;
}

.uk-parent li a {
    height: 65px;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.uk-offcanvas-bar .current-menu-item,
.uk-parent li a:hover {
    background: #659fb3;
}

.uk-parent .uk-navbar-nav {
    display: block;
}

.uk-parent i {
    margin: 1rem;
}

.uk-parent i:hover {
    background: #659fb3;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/* HOME */
.home h1, .home h2, .home h4, .home h5 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 1rem 0rem;
}

.home h1 {
    text-align: center;
}

h1 {
    font-size: 3.6rem;
    font-weight: lighter;
}

.home h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.8rem;
    font-weight: lighter;
}

h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #003d4c;
    font-weight: 400;
}

h4 {
    font-size: 3.6rem;
}

h1 a:hover, h2 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none;
}

.post-holder {
    display: flex;
    align-items: center;
}

.entry {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

.section-1 .excerpt,
.section-2 .excerpt,
.section-3 .excerpt {
    margin-top: 3rem;
}

.section-1 .view-article,
.section-2 .view-article,
.section-3 .view-article,
.section-4 .button-all {
    background: #659fb3;
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 1.1rem;

    padding: 1rem 2.5rem !important;
    border-bottom: 0px !important;
    border-radius: 54px 54px 54px 54px;
    -moz-border-radius: 54px 54px 54px 54px;
    -webkit-border-radius: 54px 54px 54px 54px;
}

.section-1 .view-article:hover,
.section-2 .view-article:hover,
.section-3 .view-article:hover,
.section-4 .button-all:hover {
    background: #003d4c;
    text-decoration: none;
}

.section-2 {
    background: #659fb3;
    color: #fff;
}

.mejs-overlay-button {
    display: none;
}

.section-2 h4 a {
    color: #fff;
}

.section-2 .view-article {
    background: #003d4c;
}

.section-2 .view-article:hover {
    background: #000;
}

.category-blog .view-article {
    background: #659fb3;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;

    padding: 1rem 2.5rem;
    border-radius: 54px 54px 54px 54px;
    -moz-border-radius: 54px 54px 54px 54px;
    -webkit-border-radius: 54px 54px 54px 54px;
}

.category-blog .view-article:hover {
    background: #003d4c;
    text-decoration: none;
}

.double-button .excerpt {
    display: inline-block;
}

.download {
    margin: 0rem 1rem;
}

.section-3 {

}

.section-4 {
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.section-4 small {
    font-family: 'Roboto', sans-serif;
    color: #003d4c;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.section-4 h3 {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0rem;
    font-size: 2.6rem;
    font-weight: 400;
}

.section-4 .post-right {
    position: relative;
}

.section-4 .entry {
    margin-bottom: 3rem;
}

.section-4 .excerpt {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 40px;
    margin-top: 2rem;
}

.section-4 .view-article {
    font-family: 'Roboto', sans-serif;
    color: #003d4c;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    border-bottom: 1px solid #003d4c;
    padding-bottom: 0.2em;
}

.section-4 .view-article:hover {
    text-decoration: none;
    color: #659fb3;
    border-bottom: 1px solid #659fb3;
}

.section-5 {
    background: #659fb3;
    color: #fff;
}

.section-5 h1,
.section-5 h2 {
    color: #fff;
}

.cff-item {
    background: #fff;
    padding: 3rem !important;
    color: #000;
}

.ccf-item {
    color: #003d4c;
}

.col-one,
.col-two {
    height: 100%;
}

.tnp-field label {
    display: none;
    visibility: hidden;
}

.tnp-email {
    border-radius: 30px;
    margin: 10px 0 0 0;
    font-size: 13px !important;
}

.inner {
    padding: 10rem 5rem;
}

.inner .uk-grid {
    margin-top: 0;
}

.image-holder img {
    max-width: 100%;
    height: auto;
}

.inner-image {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blog-post {
    background: #fff;
}

/* BETA */
input,
textarea {
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-sizing: border-box;
    padding: 1em 2em;
    margin-bottom: 3rem;
    font-size: 1.6rem !important;
    width: 100%;
}

.wpcf7-select {
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #f8f8f8;
}

form h4 {
    font-size: 1.8rem;
    margin-top: 3rem;
}

form h4:first-child {
    margin-top: 0rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 5rem !important;
}

span.wpcf7-list-item {
    display: block;
}

.terms span.wpcf7-list-item {
    display: inline !important;
}

.wpcf7-form-control-wrap {
    margin: 1rem 0rem 3rem 0rem;
}

.wpcf7-submit {
    background-color: #659fb3;
    color: #fff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding: 0.5em;
}

.wpcf7-submit:hover {
    background-color: #003d4c;
    color: #fff;
}

/* SUB-PAGE */
.sub-page h3 {
    text-transform: uppercase;
}

.sub-page h4 {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.thumbnail-category {
    height: 200px;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form a {
    color: #659fb3;
}

/* CONTACT */
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
    background: #ebebeb;
}

/*------------------------------------*\
    IMAGES
\*------------------------------------*/

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
    .uk-container {
        padding: 0rem 3rem;
    }

    .footer {
        text-align: center;
    }

    .metaslider .caption {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    .footer {
        text-align: center;
    }

    .metaslider .caption {
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .footer {
        text-align: center;
    }

    .metaslider .caption {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        text-align: left;
    }

    .metaslider .caption {
        display: block;
    }
}

@media only screen and (min-width: 1140px) {
    .footer {
        text-align: left;
    }

}

@media only screen and (min-width: 1280px) {
    .footer {
        text-align: left;
    }
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* MAIN MENU NATHANAEL */
#main-bar {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
    position: relative;
    z-index: 10;
}

#main-bar .uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #fff;
}

#main-bar .uk-navbar .uk-navbar-left .uk-logo {
    height: 150px;
}

#main-bar .uk-navbar .uk-navbar-left .uk-logo img {
    width: 160px;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li {
    padding: 0 15px;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    height: 150px;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    text-transform: none;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:hover {
    color: #000;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 60px;
    background: #659fb3;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:hover:before, #main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:focus:before, #main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:active:before {
    left: 0;
    right: 0;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav .uk-active > a {
    color: #000;
    font-weight: 400;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav .uk-active > a:before {
    left: 0;
    right: 0;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-dropdown-nav .uk-active > a {
    color: #000;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-dropdown-nav .uk-active > a:before {
    left: 0;
    right: 0;
}

#main-bar .uk-navbar .uk-navbar-right {
    /* Woocommerce */
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li {
    padding: 0 15px;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li > a:hover {
    color: #659fb3;
}

#main-bar .uk-navbar .uk-navbar-right .facebook-icon:before {
    font-family: 'FontAwesome';
    content: "\f09a";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

#main-bar .uk-navbar .uk-navbar-right .twitter-icon:before {
    font-family: 'FontAwesome';
    content: "\f099";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

#main-bar .uk-navbar .uk-navbar-right .cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 24px;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
}

#main-bar .uk-navbar .uk-navbar-right .cart-contents:hover {
    text-decoration: none;
}

#main-bar .uk-navbar .uk-navbar-right .cart-contents-count {
    color: #fff;
    background-color: #659fb3;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

#main-bar .uk-navbar-dropdown ul.uk-navbar-dropdown-nav li a {
    font-size: 13px;
    text-transform: uppercase;
}

/*current-menu-item current_page_item*/

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li.current-menu-item > a {
    color: #659fb3 !important;
}

#main-bar .uk-navbar .uk-navbar-right ul.uk-navbar-nav > li.current_page_item > a {
    color: #659fb3 !important;
}

/* Main bar mobile */
.uk-navbar-nav > li > a {
    color: #4e4e4e;
}

#main-bar-mobile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

#main-bar-mobile .uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #fff;
}

#main-bar-mobile .uk-logo img {
    width: 160px;
}

#main-bar-mobile .uk-navbar-item, #main-bar-mobile .uk-navbar-nav > li > a, #main-bar-mobile .uk-navbar-toggle {
    height: 100px;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li {
    /* Woocommerce */
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li a {
    font-size: 12px;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li a .uk-icon {
    margin: 0 7px 0 0;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .account-icon:before {
    font-family: WooCommerce;
    content: "\e038";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .facebook-icon:before {
    font-family: 'FontAwesome';
    content: "\f09a";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .twitter-icon:before {
    font-family: 'FontAwesome';
    content: "\f099";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .cart-contents:hover {
    text-decoration: none;
}

#main-bar-mobile .uk-navbar-right ul.uk-navbar-nav li .cart-contents-count {
    color: #fff;
    background-color: #659fb3;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

/* blog */
.article-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    max-width: 670px;
    margin: 0 0 2em 0;
}

.uk-subnav {

}

.uk-subnav li a, .uk-subnav span {
    font-size: 12px !important;
    font-weight: 400;
}

/* Nieuwsbrief */
.tnp-email {
    height: 38px;
    border-radius: 30px;
    margin: 10px 0 0 0;
}

.tnp-submit {
    margin: 0;
    border: none !important;
    background: #6ba2b9 !important;
    border-radius: 30px;
    font-size: 12px !important;
}

.tnp-widget input[type=text], .tnp-widget input[type=email], .tnp-widget input[type=submit], .tnp-widget select {
    width: 100% !important;
    padding: 7px 10px !important;
}

.uk-accordion-title {
    font-size: 1.2em !important;
}

.uk-accordion-content {
    font-size: 1em !important;
    color: #949494 !important;
}

.sidebar h2 {
    margin-top: .9em;
}

.sidebar ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px dotted #008ec3;
}

.sidebar ul li {
    border-top: 1px dotted #008ec3;
    position: relative;
}

.sidebar ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 5px;
    height: 5px;
    background: #003e4d;
}

.sidebar ul li a {
    color: #3a3a3a;
    font-size: 15px !important;
    font-weight: 400;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    border: 0;
    padding: 17px 20px;
    display: inline-block;
}

.sidebar ul li a:hover {
    color: #6ba2b9;
}

.uk-card-default {
    padding-top: 0 !important;
    background: #fff;
    color: #666;
    box-shadow: none !important;
}

.social-icons a:hover {
    text-decoration: none;
}











